SQL BigQuery

```
SELECT * FROM `ftds-hacktiv8-project.phase1_ftds_016_rmt.heart-failure`
```

# Problems

> Buatlah model Classification menggunakan Random Forest dan salah satu algoritma boosting untuk memprediksi apakah seorang pasien akan meninggal atau tidak menggunakan dataset yang sudah Anda dapatkan.

# Conceptual Problems

1. Apakah yang dimaksud dengan Bagging?

2. Jelaskan perbedaan algoritma Random Forest dengan algoritma boosting yang Anda pilih?

  `sklearn.ensemble.RandomForestClassifier` aggregates voting between multiple Decision Tree Classifier to predict a single instance. The Decision Tree Classifier is built based on the bootstrap set (i.e. bootstrap set that is the entire train set or perhaps just a portion of the train set, we can configure it by tuning the parameters `max_samples` from 0.0 to 1.0 and make sure to set the `bootstrap=True`). The bootstrap set for each Decision Tree Classifier can be different or the same (it's random).

  `sklearn

# 1 - Perkenalan

Name : Jason Rich Darmawn Onggo Putra

Batch : 016 RMT

Dataset Overview: These dataset contains 12 features that can be used to predict whether a person that had heart attack will survive or not.

Objective : Create a model based on Random Forest algorithm and XGBoost algorithm.

# 2 - Import Libraries

In [1]:
import pandas as pd

# 3 - Data Loading

In [2]:
dt = pd.read_csv("./h8dsft_P1G3_jason_rich_darmawan_onggo_putra.csv")
# head and tail preview
dt

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,42.0,1,250,1,15,0,213000.00,1.3,136,0,0,65,1
1,46.0,0,168,1,17,1,271000.00,2.1,124,0,0,100,1
2,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
3,53.0,1,91,0,20,1,418000.00,1.4,139,0,0,43,1
4,50.0,1,582,1,20,1,279000.00,1.0,134,0,0,186,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,63.0,1,122,1,60,0,267000.00,1.2,145,1,0,147,0
295,45.0,0,308,1,60,1,377000.00,1.0,136,1,0,186,0
296,70.0,0,97,0,60,1,220000.00,0.9,138,1,0,186,0
297,53.0,1,446,0,60,1,263358.03,1.0,139,1,0,215,0
298,50.0,0,582,0,62,1,147000.00,0.8,140,1,1,192,0